header {
  box-sizing: border-box;
  width: 100%;
  
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

border-radius: 8px;
  border: 1px solid #fff;

  /* background-color: #1a1a1a; */
}


header:hover {
  border-color: #646cff;
}